i{
    font-size: 10em;
    padding: 0.25em;
    color: slateblue;
}

button {
    margin:0 auto;
    display:block;
    background-color: slateblue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    width: 100px;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover{
    background-color: lightslategray;
    color: white;
}



table{
    margin:0 auto;
    border-radius: 15px;
    background-color:  #f0f0f5;
}

th{
    background-color: slateblue;
    color: white;
    font-size: 20px;
    border-radius: 2px;
}